@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header, .location, .howto__number, .restaurant__icon, .menu__itemPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__nameWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__starter, .menu__main, .menu__dessert {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.menu__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: 2rem 2rem;
      grid-template-rows: 2rem 2rem;
}

.explore__button, .menu__button {
  color: white;
  background: #9356DC;
  background: linear-gradient(355deg, #9356DC 49%, #FF79DA 100%);
  padding: 13px 20px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 25px gray;
          box-shadow: 0px 0px 25px gray;
  cursor: pointer;
}

@-webkit-keyframes menuAnim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes menuAnim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  max-width: 1023px;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
}

body a {
  text-decoration: none;
  color: initial;
}

.header {
  padding: 1rem;
  height: 1.5rem;
}

.header__img {
  height: 1.8rem;
}

.location {
  -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  background-color: #edecec;
}

.location__icon {
  margin-left: -20px;
}

.location__text {
  padding-left: 20px;
}

.explore {
  padding: 2rem 2rem 4rem 2rem;
  background-color: rgba(238, 235, 235, 0.523);
  text-align: center;
}

.explore__title {
  font-size: 24px;
  padding: 0 2rem;
}

.explore__text {
  font-weight: 300;
  padding-bottom: 2rem;
}

.howto {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  row-gap: 20px;
}

.howto__title {
  margin: 0 0 5px -10px;
}

.howto__steps {
  height: 4.5rem;
  background-color: rgba(246, 244, 244, 0.64);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 5px lightgray;
          box-shadow: 0px 0px 15px 5px lightgray;
  cursor: pointer;
}

.howto__number {
  margin-left: -15px;
  padding: 8px;
  width: 10px;
  height: 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
}

.howto__icon {
  margin-right: 1rem;
  margin-left: 1rem;
  color: gray;
  font-size: 18px;
}

.howto__text {
  font-size: 16px;
  font-weight: 400;
}

.howto .clear {
  background-color: rgba(147, 86, 220, 0.1);
}

.howto .dark {
  color: #9356dc;
}

.restaurant {
  background-color: rgba(246, 244, 244, 0.64);
  padding: 2rem 1rem 4rem 1rem;
}

.restaurant__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 20px;
}

.restaurant__card {
  height: 30vh;
  width: 100%;
  border-radius: 25px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 5px lightgray;
          box-shadow: 0px 0px 15px 5px lightgray;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  cursor: pointer;
}

.restaurant__img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 62%;
     object-position: 50% 62%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.restaurant__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

.restaurant__info h3, .restaurant__info p {
  margin: 0;
  padding: 3px 0;
}

.restaurant__button {
  grid-column: disabled;
  position: relative;
  right: 115%;
  top: 10%;
  height: 10%;
  text-align: center;
  padding: .4rem .7rem .2rem .7rem;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #217460;
}

.restaurant__icon {
  font-size: 2em;
  position: relative;
  top: 30%;
}

.header__icon {
  position: absolute;
  left: 8%;
}

.cover {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -50px;
  padding: 0 1rem;
}

.menu__nameWrapper {
  position: relative;
  padding: 1rem 2rem 0 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #fff;
  margin: 0 -1rem;
}

.menu__nameWrapper h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
}

.menu__nameWrapper i {
  font-size: 1.7rem;
}

.menu__starter, .menu__main, .menu__dessert {
  row-gap: 1rem;
}

.menu__starter {
  -webkit-animation: menuAnim 1s cubic-bezier(0.2, 1.3, 0.64, 1) both;
          animation: menuAnim 1s cubic-bezier(0.2, 1.3, 0.64, 1) both;
}

.menu__main {
  -webkit-animation: menuAnim 1s cubic-bezier(0.2, 1.3, 0.64, 1) 0.6s both;
          animation: menuAnim 1s cubic-bezier(0.2, 1.3, 0.64, 1) 0.6s both;
}

.menu__dessert {
  -webkit-animation: menuAnim 1s cubic-bezier(0.2, 1.3, 0.64, 1) 1.2s both;
          animation: menuAnim 1s cubic-bezier(0.2, 1.3, 0.64, 1) 1.2s both;
}

.menu__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-bottom: .5rem;
  position: relative;
  font-weight: 300;
}

.menu__title::after {
  content: "";
  width: 3.3rem;
  height: .2rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu__wrapper {
  border-radius: 15px;
  padding: .3rem;
  -webkit-box-shadow: 3px 3px 10px 3px #ccc;
          box-shadow: 3px 3px 10px 3px #ccc;
}

.menu__itemName, .menu__itemInfo {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
  width: 95%;
  padding: 0 .5rem;
  font-size: 1rem;
}

.menu__itemPrice {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: -2/-1;
  font-weight: bold;
}

.menu__itemName {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.menu__itemInfo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-weight: 300;
}

.menu__animation {
  display: none;
}

.menu__buttonWrapper {
  padding: 4rem 2rem 4rem 2rem;
  text-align: center;
}

.footer {
  max-height: 25vh;
  background-color: #3a3939;
  padding: .8rem 1rem 1.8rem 1rem;
}

.footer__logo {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
}

.footer * {
  color: white;
}

.footer i {
  width: 10px;
  padding-right: 15px;
  font-size: 14px;
}

@media only screen and (min-width: 1024px) {
  body {
    min-width: 100%;
  }
  .howto {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .howto__steps {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .restaurant__grid {
    margin: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .cover {
    max-height: 40vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
    -webkit-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
  .menu__nameWrapper {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .menu__title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .menu__starter, .menu__main, .menu__dessert {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .menu__buttonWrapper {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .menu__button {
    font-size: 1.7rem;
    padding: 1rem 2rem;
  }
}
/*# sourceMappingURL=style.css.map */