@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import "./mixins";
@import "./placeholders";
@import "./variables";
@import "./animations";


body {
    max-width: 1023px;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: $font-primary, Arial, Helvetica, sans-serif;
    
    a {
        text-decoration: none;
        color: initial;
    }

}
//loader

.loader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: .8;
    z-index: 3;
    position: fixed;
    animation: test-loader 1s 2s both;

    &__wrapper {
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;

        & h1{
        color: $color-primary;
        font-weight: bolder;
        font-size: 32px;
        font-family: $font-title;
        text-transform: uppercase
        }
    }
}

//homepage

.header {
    @extend %flex-center;
    padding: 1rem;
    height: 1.5rem;
    
    &__img {
        height: 1.8rem;
    }
}
.location {
    @extend %flex-center;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    background-color: rgb(237, 236, 236);
    
    &__icon {
        margin-left: -20px;
    }
    
    &__text {
        padding-left: 20px;
    }
}

.explore {
    padding: 2rem 2rem 4rem 2rem;
    background-color: rgba(238, 235, 235, 0.523);
    text-align: center;

    &__title {
        font-size: 24px;
        padding: 0 2rem;
    }

    &__text {
        font-weight: 300;
        padding-bottom: 2rem;
    }

    &__button {
        @extend %button;
    }
}

.howto {
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 20px;

    &__title {
        margin: 0 0 5px -10px;
    }

    &__steps {
        height: 4.5rem;
        background-color: rgba(246, 244, 244, 0.64);
        display: flex;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0px 0px 15px 5px lightgray;
        cursor: pointer
    }

    &__number {
        @extend %flex-center;
        margin-left: -15px;
        padding: 8px;
        width: 10px;
        height: 10px;
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
    }

    &__icon {
        margin-right: 1rem;
        margin-left: 1rem;
        color: gray;
        font-size: 18px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
    }

    .clear {
        background-color: rgba(147, 86, 220, .1);
    }
    .dark {
        color: rgba(147, 86, 220, 1.1);
    }
    
}


.restaurant {
    background-color: rgba(246, 244, 244, 0.64);
    padding: 2rem 1rem 4rem 1rem;


    &__grid {
        display: grid;
        grid-template-rows: auto;
        row-gap: 20px;
    }

    &__card {
        height: 30vh;
        width: 100%;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0px 0px 15px 5px lightgray;
        display: grid;
        grid-template-rows: 70% 30%;
        grid-template-columns: 80% 20%;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        object-position: 50% 62%;
        grid-column: 1/3;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;

        h3, p {
        margin: 0;
        padding: 3px 0;
        }

    }

    &__button {
        grid-column: disabled;
        position: relative;
        right: 115%;
        top: 10%;
        height: 10%;
        text-align: center;
        padding: .4rem .7rem .2rem .7rem;
        border-radius: 5px;
        background-color: $color-third;
        color: darken($color-third, 45);
    }

    &__icon {
            font-size: 2em;
            @extend %flex-center;
            position: relative;
            top: 30%;     

    }
}

//restaurants

.header__icon {
    position: absolute;
    left: 8%;
}

.cover {
    max-width: 100%;
    object-fit: cover
}

.menu {
    margin-top: -50px;
    padding: 0 1rem;


    &__nameWrapper {
        @extend %flex-space;
        position: relative;
        padding: 1rem 2rem 0 1rem;
        border-radius: 2rem 2rem 0 0;
        background-color: #fff;
        //z-index: 2;
        margin: 0 -1rem;

        h1 {
            font-family: $font-title;
            font-size: 1.7rem;
        }
        i {
            font-size: 1.7rem;
        }
    }

    &__starter, &__main, &__dessert {
        @extend %menu-grid;
        row-gap: 1rem;
    }
    &__starter {
        animation: menuAnim 1s cubic-bezier(.2,1.3,.64,1) both;
    }
    &__main {
        animation: menuAnim 1s cubic-bezier(.2,1.3,.64,1) .6s both;
    }
    &__dessert {
        animation: menuAnim 1s cubic-bezier(.2,1.3,.64,1) 1.2s both;
    }

    &__title {
        font-size: 1.2rem;
        text-transform: uppercase;
        padding-bottom: .5rem;
        position: relative;
        font-weight: 300;
        &::after {
            content: "";
            width: 3.3rem;
            height: .2rem;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &__wrapper {
        @extend %item-grid;
        border-radius: 15px;
        padding: .3rem;
        box-shadow: 3px 3px 10px 3px #ccc;
    }

    &__itemName, &__itemInfo {
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: auto;
        width: 95%;
        padding: 0 .5rem;
        font-size: 1rem;
        
    }

    &__itemPrice {
        grid-column: 2/3;
        grid-row: -2/-1;
        @extend %flex-center;
        font-weight: bold;

    }
    &__itemName {
        grid-row: 1/2;
    }
    &__itemInfo {
        grid-row: 2/3;
        font-weight: 300;
    }

    &__animation {
        display: none;
    }
    &__buttonWrapper {
        padding: 4rem 2rem 4rem 2rem;
        text-align: center;
    }
    &__button {
        @extend %button;
    }
    

}

// footer

.footer {
    max-height: 25vh;
    background-color: rgb(58, 57, 57);
    padding: .8rem 1rem 1.8rem 1rem;

    &__logo {
        font-family: $font-title, Arial, Helvetica, sans-serif;
        color: white;
        font-size: 20px;
    }

    & * {
        color: white;
    }

    i {
        width: 10px;
        padding-right: 15px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        min-width: 100%;
    }
//homepage
    .howto {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 2rem;
        &__steps {
            grid-row: 2/3;
        }
    }

    .restaurant {
        &__grid {
            margin: auto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 1rem;
        }
    }
//restaurants
    .cover {
        max-height: 40vh;
        width: 100%;
        object-fit: cover;
    }
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        column-gap: 2.5rem;

        &__nameWrapper {
            grid-row: 1/2;
            grid-column: 1/4;
        }
        &__title {
                grid-row: 2/3;
            }
        &__starter, &__main, &__dessert {
            grid-row: 3/4;
        }
        &__buttonWrapper {
            grid-row: 4/5;
            grid-column: 1/4;
        }
        &__button {
            font-size: 1.7rem;
            padding: 1rem 2rem;
        }
    }
}