@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header, .location, .howto__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  max-width: 1023px;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
}

body a {
  text-decoration: none;
  color: initial;
}

body .footer__logo {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  color: white;
}

body footer a, body i {
  color: white;
}

.header {
  padding: 1rem;
  height: 1.5rem;
}

.header__img {
  height: 1.8rem;
}

.location {
  -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  background-color: #edecec;
}

.location__icon {
  margin-left: -20px;
}

.location__text {
  padding-left: 20px;
}

.explore {
  padding: 2rem 2rem 4rem 2rem;
  background-color: rgba(246, 244, 244, 0.64);
  text-align: center;
}

.explore__title {
  font-size: 24px;
  padding: 0 2rem;
}

.explore__text {
  font-weight: 300;
  padding-bottom: 2rem;
}

.explore__button {
  color: white;
  background-color: #9356DC;
  padding: 13px 20px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 25px gray;
          box-shadow: 0px 0px 25px gray;
}

.howto {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3 1fr;
      grid-template-rows: 3 1fr;
  row-gap: 20px;
}

.howto__title {
  margin: 0 0 5px -10px;
}

.howto__steps {
  height: 4.5rem;
  background-color: rgba(246, 244, 244, 0.64);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 5px lightgray;
          box-shadow: 0px 0px 15px 5px lightgray;
}

.howto__number {
  margin-left: -15px;
  padding: 8px;
  width: 10px;
  height: 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
}

.howto__icon {
  margin-right: 1rem;
  margin-left: 1rem;
  color: gray;
  font-size: 18px;
}

.howto__text {
  font-size: 16px;
  font-weight: 400;
}

.howto .clear {
  background-color: rgba(147, 86, 220, 0.1);
}

.howto .dark {
  color: #9356dc;
}

.restaurant {
  background-color: rgba(246, 244, 244, 0.64);
  padding: 2rem 1rem 4rem 1rem;
  max-height: auto;
}

.restaurant__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  row-gap: 20px;
}

.restaurant__card {
  height: 30vh;
  width: 100%;
  border-radius: 25px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 5px lightgray;
          box-shadow: 0px 0px 15px 5px lightgray;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
}

.restaurant__img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 15px;
}

.restaurant__info h3, .restaurant__info p {
  margin: 0;
  padding: 3px 0;
}

footer {
  height: 55vh;
  background-color: #3a3939;
  padding: .5rem 1rem 2rem 1rem;
}
/*# sourceMappingURL=style.css.map */