@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import "./mixins";
@import "./placeholders";
@import "./variables";


body {
    max-width: 1023px;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: $font-primary, Arial, Helvetica, sans-serif;
    
    a {
        text-decoration: none;
        color: initial;
    }
}

.header {
    @extend %flex-center;
    padding: 1rem;
    height: 1.5rem;
    
    &__img {
        height: 1.8rem;
    }
}
.location {
    @extend %flex-center;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    background-color: rgb(237, 236, 236);
    
    &__icon {
        margin-left: -20px;
    }
    
    &__text {
        padding-left: 20px;
    }
}

.explore {
    padding: 2rem 2rem 4rem 2rem;
    background-color: rgba(246, 244, 244, 0.64);
    text-align: center;

    &__title {
        font-size: 24px;
        padding: 0 2rem;
    }

    &__text {
        font-weight: 300;
        padding-bottom: 2rem;
    }

    &__button {
        color: white;
        background-color: $color-primary;
        padding: 13px 20px;
        border-radius: 50px;
        box-shadow: 0px 0px 25px gray;
        cursor: pointer;
    }
}

.howto {
    padding: 2rem;
    display: grid;
    grid-template-rows: 3(1fr);
    row-gap: 20px;

    &__title {
        margin: 0 0 5px -10px;
    }

    &__steps {
        height: 4.5rem;
        background-color: rgba(246, 244, 244, 0.64);
        display: flex;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0px 0px 15px 5px lightgray;
        cursor: pointer
    }

    &__number {
        @extend %flex-center;
        margin-left: -15px;
        padding: 8px;
        width: 10px;
        height: 10px;
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
    }

    &__icon {
        margin-right: 1rem;
        margin-left: 1rem;
        color: gray;
        font-size: 18px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
    }

    .clear {
        background-color: rgba(147, 86, 220, .1);
    }
    .dark {
        color: rgba(147, 86, 220, 1.1);
    }
    
}


.restaurant {
    background-color: rgba(246, 244, 244, 0.64);
    padding: 2rem 1rem 4rem 1rem;
    max-height: auto;

    &__grid {
        display: grid;
        grid-template-rows: repeat(4, auto);
        row-gap: 20px;
    }

    &__card {
        height: 30vh;
        width: 100%;
        border-radius: 25px;
        background-color: white;
        box-shadow: 0px 0px 15px 5px lightgray;
        display: grid;
        grid-template-rows: 70% 30%;
        grid-template-columns: 80% 20%;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        object-position: 50% 62%;
        grid-column: 1/3;
    }

    &__info {
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;

        h3, p {
        margin: 0;
        padding: 3px 0;
    }

    }
    
    &__icon {
        font-size: 2em;
        @extend %flex-center;
        position: relative;
        top: 30%;
    }

    &__button {
        grid-column: disabled;
        position: relative;
        right: 115%;
        top: 10%;
        height: 10%;
        text-align: center;
        padding: .5rem .7rem;
        border-radius: 5px;
        background-color: $color-third;
        color: darken($color-third, 45);
    }
    
    
}

.footer {
    max-height: 25vh;
    background-color: rgb(58, 57, 57);
    padding: .8rem 1rem 1.8rem 1rem;

    &__logo {
        font-family: $font-title, Arial, Helvetica, sans-serif;
        color: white;
        font-size: 20px;
    }

    & * {
        color: white;
    }

    i {
        width: 10px;
        padding-right: 15px;
        font-size: 14px;
    }

}